<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="쿠팡에서 브랜드별 게이밍 모니터를 추천하는 링크를 모아서 보세요" />
    <meta name="author" content="" />
    <title>2022년 브랜드별 게이밍 모니터 최저가 추천</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">2022년 브랜드별 게이밍 모니터 최저가 추천</a>
            <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
            <!--
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
                
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                </form>
                
            </div>-->
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-0">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"></h1>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xxl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card">
                        <!-- h-100 삭제-->
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail10.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/2022/04/26/11/7/294f93cc-3a4b-4139-bfe9-301f0a38b9e2.jpg" alt="한성 컴퓨터 모니터 대표 이미지" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">한성 게이밍모니터 최저가</h5>
                                <!-- Product price-->
                                모니터 10만원부터
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/Eoo0r" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <!-- Sale badge
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        -->
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail7.coupangcdn.com/thumbnails/remote/492x492ex/image/vendor_inventory/23c4/0f08cd20bc537344185437ba2395a369ea66040574c704b51a04eadd2dc3.jpg" alt="엘지 모니터 대표 이미지" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">LG 게이밍 모니터 모음</h5>
                                높은 구매 만족도
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <!--
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    -->
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">230,000원</span> 190,000원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/EoqD5" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <!-- Sale badge
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail8.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/2020/02/12/17/9/c766a905-1209-46ae-85b3-35dc97fa1917.jpg" alt="알파스캔 대표 모니터 이미지" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">알파스캔 68.6cm</h5>
                                뛰어난 가성비<br> 추가할인 쿠폰<br>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">197,000원</span> 193,000원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/Eoq5O" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail9.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/5192076873365134-53060806-de55-4b81-a68f-fd6f986bf94a.jpg" alt="TFG24F07V 1500R 최저가 리스트" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">한성컴퓨터 59.8cm FHD</h5>
                                높은가성비<br>TFG24F07V 1500R<br>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                쿠팡추천 129,000원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/Eor9O" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>




                <div class="col mb-5">
                    <div class="card">
                        <!-- h-100 삭제-->
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail6.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/9025215078759773-6ce7e4a8-b3e1-41d8-bf30-afd729fd79ec.jpg" alt="어드밴스원 보더리스 모니터 대표 이미지" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">어드밴스원 게이밍모니터 최저가</h5>
                                <!-- Product price-->
                                높은가성비<br>쿠팡추천<br>
                                <span class="text-muted text-decoration-line-through">143,000원</span> 105,800원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/EosRE" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <!-- Sale badge
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        -->
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail8.coupangcdn.com/thumbnails/remote/492x492ex/image/rs_quotation_api/c0ed/5c904c211a808347e993d553243a5a476b267ac27842b436b812af78e268.jpg" alt="어드밴스원 모니터 대표 이미지" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">어드밴스원 80.01cm 커브드 보더리스</h5>
                                높은 구매 만족도
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <!--
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    -->
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">235,000원</span> 220,000원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/EotHr" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <!-- Sale badge
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail6.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/15786920991820279-cc4b88dd-4da7-4914-b695-e9a1a59f5445.jpg" alt="벤큐 게이밍 모니터 대표 이미지" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">조위 61cm FHD BenQ 게이밍 모니터</h5>
                                높은 만족도 <br>FPS 게임용 추천<br>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"></span> 265,000원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/EotUN" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail10.coupangcdn.com/thumbnails/remote/492x492ex/image/rs_quotation_api/xc6lhdzc/13a6c360e0704bf7b6a3cc11a28df57f.jpg" alt="벤큐 게이밍 모니터 후기 만족 이미지" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">벤큐 69cm FHD MOBIUZ IPS</h5>
                                쿠팡추천<br>후기가 좋음<br>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                쿠팡추천 325,120원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/EouxK" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>



                <div class="col mb-5">
                    <div class="card">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail10.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/2022/04/26/11/7/294f93cc-3a4b-4139-bfe9-301f0a38b9e2.jpg" alt="쿠팡 가성비 모니터 추천" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">쿠팡 가성비 모니터 추천</h5>
                                쿠팡추천<br>무료배송<br>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                모니터 10만원부터
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/EowHG" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://thumbnail6.coupangcdn.com/thumbnails/remote/492x492ex/image/rs_quotation_api/zzxbnzmg/974478157ea7434aa18d50d6053be1c0.png" alt="로지 게이밍체어" />
                        <!-- Product details-->
                        <div class="card-body min-h-140">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">허리가 편안한 게이밍 의자 추천</h5>
                                쿠팡추천<br>무료배송<br>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                </div>
                                <!-- Product price-->
                                당신의 허리는 소중하니까
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://link.coupang.com/a/EoxvH" target="_blank">최저가 보기</a></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- page -->
        <!--
        <div class="hope-c-PJLV hope-c-PJLV-idYAbVR-css">
            <div class="hope-center hope-c-jKOUQW hope-c-PJLV hope-c-PJLV-ihgTKoW-css">
                <div class="hope-stack hope-c-dhzjXW hope-c-PJLV hope-c-PJLV-ihVlqVC-css"><span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-hvtFwZ-variant-solid hope-c-fFSDQb-jhkhOv-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">1</span><span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">2</span>
                    <span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">3</span><span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">4</span>
                    <span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">5</span>
                    <span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">6</span><span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">7</span>
                    <span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">8</span>
                    <span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">9</span><span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-bUnFOh-variant-subtle hope-c-fFSDQb-dfcMtH-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">10</span>
                    <span class="hope-badge hope-c-fFSDQb hope-c-fFSDQb-hEAPgX-variant-outline hope-c-fFSDQb-exdgSh-cv hope-c-PJLV hope-c-PJLV-ieyTDll-css">다음</span>
                </div>
            </div>
        </div>
        -->
        <!-- //page -->
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                <!--Copyright &copy; Your Website 2022-->
                쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.
            </p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>